<!-- home.html -->
{% extends 'base/base.html' %} 
{% load static %} 
{% block title %}Página Inicial - Garçons{% endblock %} 
{% block content %}
<style>
    /*
    .container {
        display: flex;
        align-items: stretch;
    }

    .content {
        flex-grow: 1;
        padding: 20px;
    } */

    h1, h2 {
        color: #281828;
        font-family: "Belanosima", sans-serif;
    }

    .table-box {
        background-color: #fff;
        border: 1px solid #181818;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .table-number {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .table-status {
        color: #181818;
    }

    .message {
        color: #333;
        font-style: italic;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    /* .sidebar {
        background-color: #f2f2f2;
        padding: 20px;
        width: 200px;
    } */
  /* Estilos adicionais para notificações da cozinha */

  .kitchen-notifications {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  
  .kitchen-notifications h2 {
    color: #333;
  }

  .kitchen-notifications .notification {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .kitchen-notifications .notification p {
    margin: 0;
  }

  .kitchen-notifications .notification .order {
    font-weight: bold;
  }

  .kitchen-notifications .notification .pratos {
    margin-top: 5px;
  }

  .kitchen-notifications .notification .prato {
    margin-bottom: 5px;
  }

  .btn-secondary{
    background-color: transparent;
    border: 1px solid #181818;
    color: #181818;
  }


</style>

<section class="offer_section">
  <div class="sidebar">
    <div class="offer_container">
      <h1
        style="
          text-align: center;
          font-family: 'Belanosima', sans-serif;
          color: #181818;
        "
      >
        Cardápio
      </h1>
        <div class="scroll-horizontal">
            <div class="container">
                <div class="row garcomrow">
                    {% for categoria in Categorias %}
                        <div class="card-body">
                            <div class="p-0">
                                <div class="image-container">
                                    <a href="{{prefix}}/pratos/categoria/{{ categoria.0 }}">
                                    <img
                                        src="{% static 'img/' %}{{ categoria.0 }}.jpeg"
                                        alt="Descrição da imagem"
                                    /></a>
                                </div>
                                <div class="card-body">
                                    <h6
                                    style="
                                        font-size: 1.8rem;
                                        font-family: 'Belanosima', sans-serif;
                                    "
                                    >
                                    <a
                                        class="button-category"
                                        href="{{prefix}}/pratos/categoria/{{ categoria.0 }}"
                                    >
                                        <span style="color: #181818">{{ categoria.1 }}</span>
                                    </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- <section class="container">
        <div class="sidebar">
            <h2>Cardápio</h2>
            {% for categoria in Categorias %}
                <a href="{{prefix}}/pratos/categoria/{{ categoria.0 }}" class="category-link">
                    <div class="image-container">
                        <img src="{% static 'img/' %}{{ categoria.0 }}.jpeg" alt="">
                        <p>{{ categoria.1 }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section> -->

<section class="container">
        <div class="content">
            <h1>Página Inicial - Garçons</h1>
            {% if tables %}
                <h2>Mesas Disponíveis:</h2>
                {% for table in tables %}
                    <div class="table-box">
                        <div class="table-number">Mesa {{ table.numero }}</div>
                        <div class="table-status">
                            {% if table.status == "disponível" %}
                            <ul>
                                <li class="status open">{{ table.status }}</li>
                            </ul>
                            {% else %}
                            <ul>
                                <li class="status dead">{{ table.status }}</li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="message">Não há mesas disponíveis no momento.</p>
            {% endif %}
            <div class="kitchen-notifications">
                <h2>Notificações da Cozinha</h2>
                <div class="notification" id="pedidoPratos">
                    <div class="scroll-vertical">

                        <p>Não há notificações da cozinha no momento.</p>
                    </div>
                </div>
                <h2>Pedidos para serem enviados</h2>
                <div class="notification" id="pedidoPratos1">
                    <div class="scroll-vertical">
                        {% for pedido in pedidos_para_entrega %}
                            <div class="pedido">
                                <p>ID do Pedido: {{pedido.id}} </p>
                                <p>Cliente: {{ pedido.cliente }} </p>
                                <p>Endereço: <br>Nome: {{ pedido.endereco.nome}} <br> Rua: {{ pedido.endereco.rua }} <br> Bairro: {{ pedido.endereco.bairro }} <br> Complemento: {{pedido.endereco.complemento|default:"Não há complemento"}} <br> Número: {{pedido.endereco.numero}} </p>
                                <a class="btn btn-secondary" href="{% url "entregar" pedido.id %}">Entregar</a>
                            </div>
                            <hr>
                        {% empty %}
                        <p>Não há pedidos para serem enviados.</p>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/notificar_garcom.js' %}"></script>
{% endblock content %}
