<!-- prettier-ignore -->
{% load i18n %}
{% load account socialaccount %}
{% block content %}
<!-- prettier-ignore -->
{% load static %}
<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Login PratoCerto</title>
    <link rel="icon" href="{% static "images/icons/logo-icon.png" %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static "css/style_login.css"%}">
  </head>
  <body class="img js-fullheight" style="background-image: url({% static "images/hero-bg.png"%}); background-size: cover; background-position-x: bottom; background-repeat: no-repeat;">
    <!-- style="height:100%;background-image: url({% static "images/hero-bg.png"%});" -->
    <section>
      <div class="container mt-6">
        <!-- <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login</h2>
          </div>
        </div> -->
        <div class="row justify-content-center ftco-section">
          <div class="col-md-6 col-lg-4">
            <!-- Pop-up de carregamento -->
                <div class="loading-overlay" id="loadingOverlay">
                  <div class="loading-spinner">
                    <img style="width: 45px;" src="/static/images/icons/icon-loading.png">
                  </div>
                </div>
                <!-- Pop-up de carregamento -->
            <div class="card">
              <div class="card-body">
                <div class="login-wrap p-0">
                  <h3 class="text-center">Boas-vindas!</h3>
                  <p class="text-center mb-4"> Faça o login em sua conta</p>
                  <form id="loginForm" action="/accounts/login/" method="POST" class="signin-form">
                    {% csrf_token %}
                    <div class="form-group">
                      <input id="username-field"type="text" class="form-control" placeholder="Nome" name="login" required />
                    </div>
                    <div class="form-group">
                      <input
                        name="password"
                        id="password-field"
                        type="password"
                        class="form-control"
                        placeholder="Senha"
                        required
                      />
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                      <button id="loginButton" type="submit" class="form-control btn btn-primary submit px-3">
                        Entrar
                      </button>
                    </div>

                    <div class="form-group d-md-flex">
                      <!-- <div class="w-50">
                        <label class="checkbox-wrap checkbox-primary"
                          >Lembrar de mim
                          <input name="remember" type="checkbox" checked />
                          <span class="checkmark"></span>
                        </label>
                      </div> -->
                      <div class="w-20 text-md-right">
                        <a href="/accounts/password/reset/" style="user-select: none; color: #181818">Esqueceu sua senha?</a>
                      </div>
                    </div>
                    <div class="d-md-flex">
                      <div class="w-20">
                        <p style="user-select: none; color: #eeeeee">Precisando de uma conta?</p>
                      </div>
                      <div class="w-30 text-md-right">
                        <a href="/clientes/register" style="user-select: none; color: #181818;">Registre-se</a>
                      </div>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                  </form>
                  <hr style="background-color: #91202d">
                  <div class="social d-flex text-center justify-content-center">
                    <form action="/accounts/google/login/?process=login" method="post">
                      {% csrf_token %}
                        <button class="btn btn-primary submit px-3">
                          <img style="width: 25px" src="/static/images/icons/pesquisa.png">
                          <span class="mr-2 px-2 py-2 ml-md-1" style="font-family: 'Inter', sans-serif;">Google</span>
                        </button>
                      <!-- <button
                        type="button"
                        class="px-2 py-2 ml-md-1 rounded"
                        onclick="window.location.href='/clientes/register'"
                      >
                        <span class="ion-logo-google mr-2 px-2 py-2 ml-md-1 rounded">Cadastre-se</span>
                      </button> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <script src="{% static "js/js_bootstrap/bootstrap.js"%}"></script>
    <script src="{% static "js/js_bootstrap/custom.js"%}"></script>
    <script src="{% static "js/js_bootstrap/jquery-3.4.1.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
  </body>
</html>
{% endblock %}
