{% load i18n %}
{% load account %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Recuperação de Senha PratoCerto</title>
    <link rel="icon" href="{% static "images/icons/logo-icon.png" %}"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static "css/style_password.css"%}">
  </head>
  <body class="img js-fullheight">
    <!-- style="height:100%;background-image: url({% static "images/hero-bg.png"%});" -->
    <section>
      <div class="container mt-6">
        <!-- <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login</h2>
          </div>
        </div> -->
        <div class="row justify-content-center ftco-section">
          <div class="col-md-6 col-lg-4">
            <!-- Pop-up de carregamento -->
                <div class="loading-overlay" id="loadingOverlay">
                  <div class="loading-spinner">
                    <img style="width: 45px;" src="/static/images/icons/icon-loading.png">
                  </div>
                </div>
                <!-- Pop-up de carregamento -->
            <div class="card">
              <div class="card-body">
                <div class="login-wrap p-0">
                    <div class="row justify-content-center">
                        <img style="width: 185px"src="/static/images/icons/man-icon.png"/>
                    </div>

                  <h3 class="text-center" style="color: #91202d"><b>Recupere a sua Senha</b></h3>
                  <!-- class="" -->
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Seu Endereço de e-mail" autocomplete="email" required="" id="id_email" wfd-id="id1">
                        </div>
                        <div class="form-group justify-content-center">
                            <!-- {{ form.as_p }} -->
                            <button id="loginButton" type="submit" class="form-control btn btn-primary submit px-3">
                                Entrar
                            </button>
                        </div>
                        <div class="d-md-flex justify-content-center">
                            <div class="w-20 ">
                                <a href="/accounts/login/" style="color: #181818;">Voltar ao Login</a>
                            </div>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- <script src="{% static "js/js_bootstrap/bootstrap.js"%}"></script>
    <script src="{% static "js/js_bootstrap/custom.js"%}"></script>
    <script src="{% static "js/js_bootstrap/jquery-3.4.1.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script> -->
  </body>
</html>


<!-- PEGAR DAQUI E ALTERAR LA EM CIMA -->
<!-- PEGAR DAQUI E ALTERAR LA EM CIMA -->
    <!-- <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
<!-- PEGAR DAQUI E ALTERAR LA EM CIMA -->
<!-- PEGAR DAQUI E ALTERAR LA EM CIMA -->

