{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Recuperação de Senha PratoCerto</title>
    <link rel="icon" href="{% static "images/icons/logo-icon.png" %}"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static "css/style_password.css"%}">

  </head>
  <body class="img js-fullheight">
    <section>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="login-wrap p-0">
                    <div class="card2">
                      <div class="row justify-content-center img-man">
                          <img style="width: 185px"src="/static/images/icons/man-icon.png"/>
                      </div>
                    </div>
                  <h3 class="text-center" style="color: #91202d"><b>Recupere a sua Senha</b></h3>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <div style=" border: 1px solid #ceadad; background-color: #edd4d4 !important;"class="card-success">
                            <div class="card-body-success">
                             <p style="color: #91202d">O link para redefinição da senha era inválido, provavelmente por já ter sido usado. <a style="color: #181818" href="{{ passwd_reset_url }}"> Por favor peça uma nova redefinição de senha.</a></p>
                            </div>
                        </div>
                    {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="password" name="password1" placeholder="Nova Senha" autocomplete="new-password" required="" id="id_password1" wfd-id="id2">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password2" placeholder="Nova Senha (novamente)" required="" id="id_password2" wfd-id="id3">
                        </div>
                        <div class="form-group justify-content-center">
                            <button  id="loginButton" name="action" type="submit" class="form-control btn btn-primary submit px-3">
                                Confirmar
                            </button>
                        </div>
                        {% endif %}
                        <div class="d-md-flex jcc">
                            <div class="w-20 ">
                                <a href="/accounts/login/" style="color: #181818;">Voltar ao Login</a>
                            </div>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static "js/main.js"%}"></script>
  </body>
</html>
