 <!-- CSS -->
 <style>
  .notification_link .fa-bell {
    color: white; 
  }

  .notification_link:hover .fa-bell {
    color: orange; 
  }

</style>

<!-- base.html -->
{% load static %}
{% load decorators %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="{% static "images/icons/logo-icon.png" %}"/>
  
  <title>{% block titulo %} PratoCerto {% endblock titulo %} </title>
  
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css"%}" />
  
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet" />
  
  
  <!-- Custom styles for this template -->
  <link  rel="stylesheet"  href="{% static "css/style.css"%}"/>
  
  <link rel="stylesheet" href="{% static "css/nav.css"%}">
  
  {% block head %}
  <link href="{% static "css/index.css"%}" rel="stylesheet" />
  {% endblock head %}

  <!-- <link rel="stylesheet" href="{% static "css/card_recomendacao.css"%}"> -->
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script&family=Inter&display=swap');
    p {
      font-family:Times, Times New Roman, serif;
    }
    
    label {
      font-family:Apple Chancery, cursive;
    }
    
    option {
      color: black;
      background-color: #eee;
    }
    
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Cor do fundo escurecido */
      z-index: 9999;
    }
    
    /* Estilos para a div centralizada */
    .popup-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px; /* Largura da div */
      height: 300px; /* Altura da div */
      overflow-y: scroll;
      background-color: #fff; /* Cor de fundo da div */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra da div */
      z-index: 10000;
    }
    .inner-popup {
      margin: 20px;
    }
    .titulo-popUp {
      text-align: center;
      background-color: rgb(234, 92, 92);
      pad: 20px;
    }
    .leave-text{
      border: none; 
      background-color: transparent; 
      font-family: "Belanosima", sans-serif;
    }
    .leave-text:hover{
      color: #91202d;

    }
  </style>
</head>

{% has_role user 'admin' as has_admin_role %}
{% has_role user 'cliente' as has_cliente_role %}
{% has_role user 'garcom' as has_garcom_role %}
{% has_role user 'cozinha' as has_cozinha_role %}
{% has_role user 'caixa' as has_caixa_role %}

<body class="img js-fullheight" >
  <header >
    <section class="container">
            <nav class="fixed-top">
              <div id="kyu-logo">
                <img src="{% static "images/icons/logo.png"%}" />
              </div>
      
              <div class="nav-menu">
                <ul>
                  {% if has_admin_role %}
                  <li class="nav-item">
                    <a onclick="loadingPagetwo()" class="nav-link" href="{% url 'home_eventos' %}">Eventos</a>
                  </li>
                  <li class="nav-item">
                    <a onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_recomendacoes" %}">Recomendações</a>
                  </li>
                  <li class="nav-item">
                      <a onclick="loadingPage()" class="nav-link" href="{% url "create_superuser" %}">Criar Admin</a>
                  </li>
                  <li class="nav-item">
                    <a onclick="loadingPagetwo()" class="nav-link" href="{% url "gerenciar_estoque" %}">Estoque</a>
                  </li>
                {% elif has_cliente_role %}
                  <li class="nav-item">
                      <a onclick="loadingPage()" class="nav-link" href="{% url 'home_eventos' %}"> Eventos</a>
                  </li>
                  <li class="nav-item">
                      <a onclick="loadingPage()" class="nav-link" href="{% url "criar reserva" %}">criar reserva</a>
                  </li>
                  <li class="nav-item">
                      <a onclick="loadingPage()" class="nav-link" href="{% url "ver_pedidos_cliente" %}">pedidos</a>
                  </li>
                  {% elif has_garcom_role %}
                    <li class="nav-item">
                        <a onclick="loadingPage()" class="nav-link" href="{% url "home_garcom" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="loadingPage()" class="nav-link" href="{% url "ver_pedidos_garcom" %}">pedidos</a>
                    </li>
                  {% elif has_cozinha_role %}
                    <li class="nav-item">
                        <a onclick="loadingPage()" class="nav-link" href="{% url "home_cozinha" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="loadingPage()" class="nav-link" href="{% url 'home_eventos' %}"> Eventos</a>
                    </li>
                  {% elif has_caixa_role %}
                    <li class="nav-item">
                        <a onclick="loadingPage()"class="nav-link" href="{% url "home" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="loadingPage()" class="nav-link" href="{% url 'home_eventos' %}"> Eventos</a>
                    </li>
                {% endif %}
              </ul>
              {% if has_admin_role %}
              <button  id="btn-gerenciar" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown-gerenciar" aria-expanded="false" onclick="toggleDropdown('dropdown-gerenciar')">
                GERENCIAR
              </button>
              {% endif %}
              {% if user.is_authenticated %}
                <div class="dropdown ">
                  <ul  id="dropdown-gerenciar" class="dropdown-menu " style="">
                    {% if has_admin_role %}
                      <li class="nav-item">
                          <a onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_prato" %}">Pratos</a>
                      </li>
                      <li class="nav-item">
                          <a onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_garcons" %}">Garçons</a>
                      </li>
                      <li class="nav-item">
                          <a onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_caixas" %}">Caixas</a>
                      </li>
                      <li class="nav-item">
                          <a onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_cozinhas" %}">Cozinhas</a>
                      </li>
                      <li class="nav-item">
                          <a onclick="loadingPage()" onclick="loadingPage()" class="nav-link" href="{% url "gerenciar_clientes" %}">Clientes</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="loadingPagetwo()" class="nav-link" href="{% url "gerenciar_adicionais" %}">Adicionais</a>
                      </li> 
                      <li class="nav-item">
                        <a onclick="loadingPagetwo()" class="nav-link" href="{% url "gerenciar_mesas" %}">Mesas</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
                {% endif %}
              <ul>
                {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a  onclick="loadingPage()" class="nav-link" href="{% url "account_login" %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a onclick="loadingPage()" class="nav-link" href="{% url "cadastrar_cliente" %}">Cadastre-se</a>
                  </li>
                {% endif %}
              </ul>
              <ul>
                {% if user.is_authenticated %}
                  {% if has_admin_role %}
                    <li>
                      <a class="nav-link" href="#" onclick="performLogout()">Sair</a>
                    </li>
                  {% elif not has_cliente_role %}
                    <li>
                      <a class="nav-link" href="#" onclick="performLogout()">Sair</a>
                    </li>
                  {% endif %}
                {% endif %}
                <form id="logoutForm" method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                </form>

                {% if has_admin_role %}
                  {% elif has_cliente_role %}
                    <li>
                      <a href="{% url "ver carrinho cliente" %}" style="margin-top: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="white" viewBox="0 -960 960 960" width="48"><path d="M286.788-81Q257-81 236-102.212q-21-21.213-21-51Q215-183 236.212-204q21.213-21 51-21Q317-225 338-203.788q21 21.213 21 51Q359-123 337.788-102q-21.213 21-51 21Zm400 0Q657-81 636-102.212q-21-21.213-21-51Q615-183 636.212-204q21.213-21 51-21Q717-225 738-203.788q21 21.213 21 51Q759-123 737.788-102q-21.213 21-51 21ZM235-741l110 228h288l125-228H235Zm-30-60h589.074q22.964 0 34.945 21Q841-759 829-738L694-495q-11 19-28.559 30.5Q647.881-453 627-453H324l-56 104h491v60H277q-42 0-60.5-28t.5-63l64-118-152-322H51v-60h117l37 79Zm140 288h288-288Z"/></svg>
                      </a>
                    </li>
                    <li>
                      <a id="notification_icon" href="#" style="margin-top: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="white" viewBox="0 -960 960 960" width="48"><path d="M160-200v-60h84v-306q0-84 49.5-149.5T424-798v-29q0-23 16.5-38t39.5-15q23 0 39.5 15t16.5 38v29q81 17 131 82.5T717-566v306h83v60H160Zm320-295Zm0 415q-32 0-56-23.5T400-160h160q0 33-23.5 56.5T480-80ZM304-260h353v-306q0-74-51-126t-125-52q-74 0-125.5 52T304-566v306Z"/></svg>
                      </a>
                    </li> 
                    <li>
                      <!-- <a href="{% url "perfil_cliente" %}" style="margin-top: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="white" viewBox="0 -960 960 960" width="48"><path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.921 44.694q31.301 14.126 50.19 40.966Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/></svg>
                      </a> -->
                      <a  id="btn-usuario" style="margin-top: 32px; cursor: pointer;" data-bs-toggle="dropdown-usuario" onclick="toggleDropdown('dropdown-usuario')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="white" viewBox="0 -960 960 960" width="48"><path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.921 44.694q31.301 14.126 50.19 40.966Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/></svg>
                      </a>
                    </li>
                  {% elif has_garcom_role %}
                    <li>
                      <a href="{% url "ver_carrinho_garcom" %}" style="margin-top: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="white" viewBox="0 -960 960 960" width="48"><path d="M286.788-81Q257-81 236-102.212q-21-21.213-21-51Q215-183 236.212-204q21.213-21 51-21Q317-225 338-203.788q21 21.213 21 51Q359-123 337.788-102q-21.213 21-51 21Zm400 0Q657-81 636-102.212q-21-21.213-21-51Q615-183 636.212-204q21.213-21 51-21Q717-225 738-203.788q21 21.213 21 51Q759-123 737.788-102q-21.213 21-51 21ZM235-741l110 228h288l125-228H235Zm-30-60h589.074q22.964 0 34.945 21Q841-759 829-738L694-495q-11 19-28.559 30.5Q647.881-453 627-453H324l-56 104h491v60H277q-42 0-60.5-28t.5-63l64-118-152-322H51v-60h117l37 79Zm140 288h288-288Z"/></svg>
                      </a>
                    </li>
                  {% endif %}
                </ul>
                  <div  class="dropdown">
                      <ul  id="dropdown-usuario" class="dropdown-menu" style="">
                          <li>
                            <a class="nav-link" href="{% url "perfil_cliente" %}" >
                              Perfil
                            </a>
                          </li>
                        {% if user.is_authenticated %}
                        <li>
                          <button  type="submit" class="nav-link leave-text" onclick="performLogout()">Sair</button>
                        </li>
                        <form id="logoutForm" method="post" action="{% url 'account_logout' %}">
                          {% csrf_token %}
                        </form>
                        {% endif %}
                      </ul>
                  </div>
              </div>
                  <div id="mobile-menu-btn">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
            </nav>
    </section>
  </header>

  <!-- Pop-up de carregamento -->
  <div class="loading-overlay" id="loadingOverlay">
    <div class="loading-spinner">
      <img style="width: 45px;" src="/static/images/icons/icon-loading.png">
    </div>
  </div>
  <!-- Pop-up de carregamento -->

  <section  class="content">
      <div class="container">
          {% block content %}{% endblock %}
      </div>
  </section>
  

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300">
    <path
      fill="#181818"
      fill-opacity="1"
      d="M0,128L30,154.7C60,181,120,235,180,234.7C240,235,300,181,360,170.7C420,160,480,192,540,213.3C600,235,660,245,720,234.7C780,224,840,192,900,176C960,160,1020,160,1080,176C1140,192,1200,224,1260,224C1320,224,1380,192,1410,176L1440,160L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
    ></path>
  </svg>
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contate nos
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localização
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Ligue +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  exemplo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Prato Certo
            </a>
            <p>
              PratoCerto, O sabor que você procura, servido com excelência!
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horário de abertura
          </h4>
          <p>
            Todos os dias
          </p>
          <p>
            9.00 Am 23.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>
  <script src="{% static "js/main.js"%}"></script>
  <script src="{% static "js/home.js"%}"></script>
  <script src="{% static "js_bootstrap/bootstrap.js"%}"></script>
  <script>
    
      // FUNÇÃO DE CARREGAMENTO DA PAGINA
    function loadingPage() {
      var links = document.querySelectorAll('.dropdown-menu a');
  
      for (var i = 0; i < links.length; i++) {
        links[i].onclick = function (event) {
          event.preventDefault();
          var loadingOverlay = document.getElementById('loadingOverlay');
          loadingOverlay.style.display = 'block';
  
          setTimeout(function () {
            window.location.href = event.target.href;
          }, 1000);
        };
      }
    }
    loadingPage();


    // FUNÇÃO DE CARREGAMENTO DA PAGINA
    function loadingPagetwo() {
      var links = document.querySelectorAll('.nav-item a');
  
      for (var i = 0; i < links.length; i++) {
        links[i].onclick = function (event) {
          event.preventDefault();
          var loadingOverlay = document.getElementById('loadingOverlay');
          loadingOverlay.style.display = 'block';
  
          setTimeout(function () {
            window.location.href = event.target.href;
          }, 1000);
        };
      }
    }
    loadingPagetwo();



    function performLogout() {
      var form = document.getElementById('logoutForm');
      var loadingOverlay = document.getElementById('loadingOverlay');
      loadingOverlay.style.display = 'block'; // Exibe a animação de carregamento
    
      setTimeout(function() {
        form.submit(); // Envia o formulário de logout após um tempo de espera
      }, 200); // Tempo de espera em milissegundos (por exemplo, 2000ms = 2 segundos)
    }

    function toggleDropdown(dropdownId) {
      var dropdown = document.getElementById(dropdownId);
      dropdown.classList.toggle('show');
    }

    const urlParams = new URLSearchParams(window.location.search);
    const msm = urlParams.get('msm');
    if (msm) {
      alert(msm);
    }
  </script>

  <script src={% static "js/notificar_cliente.js" %} ></script>
</body>
</html>