<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
{% block head %}{% endblock head %}
    <title>
      {% if titulo %}
      {{ titulo }}
      {% else %}
      Formulário de Cadastro
      {% endif %}
    </title>
    <link rel="icon" href="{% static "images/icons/logo-icon.png" %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <link rel="stylesheet" href="{% static "css/style_form.css"%}">

    <style>
      body {
        background-image: url({% static "images/img1.png" %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
      }
      section > .container {
        margin-top: 140px;
      }
      .container {
        max-width: 540px;
      }
      option {
        color: black;
        background-color: #eee;
      } 
    </style>
      <div class="loading-overlay" id="loadingOverlay"  style="max-width: 150px;">
          <div class="loading-spinner">
          <img style="width: 45px;" src="/static/images/icons/icon-loading.png">
          </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="login-wrap p-0">
            <h3 class="text-center">
              {% if titulo %}
              {{ titulo }}
              {% else %}
              Formulário de Cadastro
              {% endif %}</h3>
            <p class="text-center mb-4"> </p>
            <form id="loginForm" enctype="multipart/form-data" method="POST" class="signin-form">
              {% csrf_token %}
                  <div class="form-group">
                    {{ form.cliente }}
                    {{ form.mesa.label }}
                    {{ form.mesa }}
                    {{ form.data_reserva.label }}
                    {{ form.data_reserva }}
                    {{ form.horario.label }}
                    {{ form.horario }}
                    <br>
                    Quantidade de pessoas
                    <input type="number" class="form-control" name="qnt_pessoas" min="1" max="0" value="1" required id="id_qnt_pessoas">
                    {{ form.observacao.label }}
                    {{ form.observacao }}
                    {{ form.preco_total }}
                    <div style="text-align: center;">
                        <h3>Preco Total: </h3><h3 id="preco">R$ 0.00</h3>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <button id="loginButton" type="submit" class="form-control btn btn-primary submit px-3">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static "js/main.js"%}"></script>
<script>
    var campo_preco = document.getElementById("preco");

    // Obter o elemento pai que contém os checkboxes
    var mesaContainer = document.getElementById("id_mesa");

    // Obter todos os checkboxes dentro do elemento pai
    var checkboxes = mesaContainer.getElementsByTagName("input");

    // Contar quantos checkboxes estão marcados
    function check_boxes() {
        var contador = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type === "checkbox" && checkboxes[i].checked) {
                contador++;
            }
        }
        // Substitua 'precoValue' pelo valor real de 'preco'
        var precoValue = 10; // Exemplo de valor
        campo_preco.innerHTML = "R$ " + String((contador * precoValue).toFixed(2));
        document.getElementById("id_preco_total").value = contador * precoValue;

        document.getElementById("id_qnt_pessoas").max = contador * {{ cadeiras_mesa }};
    }

    // Adicionar evento de mudança para os checkboxes
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", check_boxes);
    }
</script>
{% endblock content %}