body::after {
  background: #eeeeee;
}

.colum-card {
  padding: 5px;
}

.card-body {
  flex: none;
  padding: 0.55rem;
}

.card-body > h6 {
  text-align: center;
  border-bottom: 3px solid #181818;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-body > h6 > span {
  color: #181818;
}

.image-container {
  border-radius: 30px;
  width: 320px;
  height: 230px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.75);
}

.image-container img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body .image-container img {
  transition: transform 0.2s ease;
}

.card-body:hover .image-container img {
  transform: scale(1.1);
}

.card-body {
  transition: transform 0.2s ease;
}

.card-body:hover {
  transform: scale(1.1);
}

.text-container {
  position: absolute;
  margin-top: 20px;
}

/* .card {
  background-color: #181818;
  border-radius: 22px 33px 22px 22px;
  border: none;
  box-shadow: none;
  position: relative;
  margin: 10px;
  min-height: 300px;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
} */

.row {
  justify-content: space-between;
}

/* .button-category {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  background-color: #eeeeee;
  border: 1px solid #ced4da;
  border-radius: 2.25rem;
  font-family: 'Belanosima', sans-serif;
} */

.button-category:hover {
  color: #91202d;
}

/* LOADING DE LOGIN */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}
.loading-spinner {
  position: absolute;
  top: 45%;
  left: 49%;
  width: 40px;
  height: 40px;
  animation: spin 1s infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* LOADING DE LOGIN */

/* CARROSSEL PAGINA HOME */
section > .container {
  margin-top: 140px;
}


.my-carousel-section {
  position: relative;
  width: 100%;
  height: 500px; /* Defina a altura desejada para as imagens */
  overflow: hidden;
}

.my-carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.my-carousel-item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.my-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.my-carousel-item-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  width: 30%;
  /* max-width: 400px; */

  background-color: rgba(26, 26, 26, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  backdrop-filter: blur(10px) brightness(80%) saturate(120%);
}

.my-carousel-item-text h5 {
  color: #eee;
  font-size: 24px;
  /* margin-bottom: 10px; */
}

.my-carousel-item-text p {
  color: #eee;
  font-size: 16px;
  margin-bottom: 0px;
}

/* CARD DUS PRATUS */
body::after {
  background: #eeeeee;
}

.mycolum-card {
  padding: 5px;
}

.myimage-container {
  width: 240px;
  height: 179px;
  overflow: hidden;
  margin-bottom: 19px;
}

.myimage-container img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: 3px solid #eee;
  border-right: 3px solid #eee;
}

.mycard {
  background-color: #181818;
  border-radius: 22px 33px 22px 22px;
  border: none;
  box-shadow: none;
  position: relative;
  margin: 10px;
  min-height: 368px;
  max-width: 257px;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.21);
}

.mycard-body:hover .myimage-container img {
  transform: scale(1);
}
.mycard-body .myimage-container img {
  transition: transform 0.2s ease;
}

.mycard-body {
  transition: transform 0.2s ease;
}

.mycard-body:hover {
  transform: scale(1);
}

.mycard-teste {
  background-color: #181818;
  border-radius: 20px 30px 0px 40px;
  position: relative;
  height: 203px;
  border-bottom: 5px solid #eee;
}

.row {
  justify-content: space-between;
}

.mybutton-category {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  background-color: #eeeeee;
  border: 1px solid #ced4da;
  border-radius: 2.25rem;
  font-family: "Belanosima", sans-serif;
}

.mybutton-category:hover {
  color: #91202d;
}

/* HOME GARÇOM */
.garcomrow {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: nowrap;
}


.scroll-horizontal {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 40px;
}

.scroll-horizontal::-webkit-scrollbar {
  width: 18px; 
  background-color: transparent; 
}


.scroll-horizontal::-webkit-scrollbar-thumb {
  background-color: #91202d; 
  border-radius: 20px; 
}

/* STATUS GARÇOM */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.status {
  &.open:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
  }

  &.in-progress:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
  }
  
  &.dead:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}
  
  


@media (max-width: 576px) {
  .scroll-horizontal {
    max-height: 630px;
  }
}

@media (max-width: 768px) {
  .scroll-horizontal {
    max-height: 630px;
  }
}

@media (max-width: 992px) {
  .scroll-horizontal {
    max-height: 630px;
  }
}

@media (max-width: 1200px) {
  .scroll-horizontal {
    max-height: 630px;
  }
}
