{% extends 'base/base.html' %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #181818;
        border-radius: 10px;
    }

    /*img {
        max-width: 100px;
        max-height: 100px;
    }*/

    .actions {
        white-space: nowrap;
    }

    .actions a {
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;
    }

    .actions a:hover {
        text-decoration: underline;
    }
    .btn-secondary{
        background-color: transparent;
       
    }
</style>

<h1>{{ cliente.0.tipo_conta }}</h1>

<h1
      style="
        text-align: center;
        font-family: 'Belanosima', sans-serif;
        color: #181818;
      "
    >
      Adicionais
    </h1>
    <hr style="width: 100%; border: 2px solid; margin-bottom: 40px;" />

<a class="btn btn-secondary"  style="color: #181818;"href="{% url 'cadastrar_'|add:pg %}">Cadastrar</a>



<table>
    <thead>
        <tr style="color: #fff">
            <th>Nome</th>
            <th>Descricao</th>
            <th>Foto</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for adicional in adicionais %}
        <tr>
            <td>{{ adicional.nome }}</td>
            <td>{{ adicional.descricao }}</td>
            {% if adicional.foto %}
                <td><img src="{{ adicional.foto.url }}" alt="Foto do Prato"></td>
            {% else %}
                <td>O adicional não possui foto</td>
            {% endif %}
            <td>{{ adicional.preco }}</td>
            <td class="actions">
                <a href="{% url 'editar_adicional' adicional.id %}"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="black" viewBox="0 -960 960 960" width="48"><path d="M180-180h44l443-443-44-44-443 443v44Zm614-486L666-794l42-42q17-17 42-17t42 17l44 44q17 17 17 42t-17 42l-42 42Zm-42 42L248-120H120v-128l504-504 128 128Zm-107-21-22-22 44 44-22-22Z"/></svg></a>
                <a href="{% url 'deletar_adicional' adicional.id %}"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="black" viewBox="0 -960 960 960" width="48"><path d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z"/></svg></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
