{% extends 'base/base.html' %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    /*img {
        max-width: 100px;
        max-height: 100px;
    }*/

    .actions {
        white-space: nowrap;
    }

    .actions a {
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;
    }

    .actions a:hover {
        text-decoration: underline;
    }
</style>

<h1>{{ cliente.0.tipo_conta }}</h1>

<a href="{% url 'cadastrar_'|add:pg %}">Cadastrar</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Foto</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for adicional in adicionais %}
        <tr>
            <td>{{ adicional.nome }}</td>
            <td>{{ adicional.descricao }}</td>
            {% if adicional.foto %}
                <td><img src="{{ adicional.foto.url }}" alt="Foto do Prato"></td>
            {% else %}
                <td>O adicional não possui foto</td>
            {% endif %}
            <td>{{ adicional.preco }}</td>
            <td class="actions">
                <a href="{% url 'editar_adicional' adicional.id %}">Editar</a>
                <a href="{% url 'deletar_adicional' adicional.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
