{% extends 'base/base.html' %}

{% block content %}

<style>

    h1 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #181818;
        border-radius: 10px;
    }

    /*img {
        max-width: 100px;
        max-height: 100px;
    }*/

    .actions {
        white-space: nowrap;
    }

    .actions a{
        color: #181818;
        text-decoration: none;
    }
    .actions a:hover{
        text-decoration: none;
    }

    .btn-secondary{
        background-color: transparent;
    }
</style>
<section class="book_section ">
<h1>{{ cliente.0.tipo_conta }}</h1>

<h1
style="
  text-align: center;
  font-family: 'Belanosima', sans-serif;
  color: #181818;
"
>
Mesas
</h1>
<hr style="width: 100%; border: 2px solid; margin-bottom: 40px;" />

<a class="btn btn-secondary" style="color: #181818;"href="{% url 'cadastrar_mesa' %}">cadastrar</a>

<table>
    <thead>
        <tr style="color: #fff">
            <th>Numero</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for mesa in mesas %}
        <tr>
            <td>{{ mesa.numero }}</td>
            {% if mesa.status == "disponível" %}
                <td class="status open">{{ mesa.status }}</td>
            {% else %}
                <td class="status dead">{{ mesa.status }}</td>
            {% endif %}

            <td class="actions">
                <a class="btn btn-secondary" style="color: #181818;" href="{% url "editar_mesa" id=mesa.pk %}">Editar</a>
                <a class="btn btn-secondary" style="color: #181818;" href="{% url "deletar_mesa" id=mesa.pk %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}



    </tbody>
</table>
</section>

{% endblock %}