{% extends 'base/base.html' %}

{% block content %}

<style>

    h1 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #181818;
        border-radius: 10px;
    }

    /*img {
        max-width: 100px;
        max-height: 100px;
    }*/

    .actions {
        white-space: nowrap;
    }

    .actions a{
        color: #181818;
        text-decoration: none;
    }
    .actions a:hover{
        text-decoration: none;
    }
    .content{
        margin-top: 10px;
    }

    .btn-secondary{
        background-color: transparent; 
    }
</style>
<section class="book_section">

    <h1
      style="
        text-align: center;
        font-family: 'Belanosima', sans-serif;
        color: #181818;
      "
    >
      Contas 
    </h1>
    <hr style="width: 100%; border: 2px solid; margin-bottom: 40px;" />
<h1>{{ cliente.0.tipo_conta }}</h1>

<a class="btn btn-secondary" style="color: #181818" href="{% url 'cadastrar_'|add:pg %}">cadastrar</a>

<div class="content">
    <div class="table-responsive">
        <table>
            <thead>
                <tr style="color: #fff;">
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>CPF</th>
                    <th>Código Afiliado</th>
                    <th>Pontos de Afiliado</th>
                    <th>Tipo de Conta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.username }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.codigo_afiliado }}</td>
                    <td>{{ cliente.pontos }}</td>
                    <td>{{ cliente.tipo_conta }}</td>
                    <td class="actions">
                        <a class="btn btn-secondary" style="color: #181818" href="{% url "editar_"|add:pg id=cliente.pk %}">Editar</a>
                        <a class="btn btn-secondary" style="color: #181818" href="{% url "deletar_"|add:pg id=cliente.pk %}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>

{% endblock %}