<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Lista de Pratos{% endblock %}

{% block content %}
<style>
    img {
        width: 200px;
        height: auto;
    }
</style>
<section class="offer_section">
  <div class="offer_container">
    <h1
      style="
        text-align: center;
        font-family: 'Belanosima', sans-serif;
        color: #181818;
      "
    >
      Lista de Pratos
    </h1>
    <hr style="width: 100%; border: 2px solid; margin-bottom: 40px;" />
    <div class="container">
      <div class="row">
        {% for prato in pratos %}
        <div class="card mycard">
          <div class="card-teste mycard-teste">
            <div class="card-body mycard-body">
              <div class="login-wrap p-0">
                  <div class="myimage-container">
                    <img src="{{ prato.foto.url }}" alt=""/>
                  </div>
                  <div style="color: #eeeeee">
                    <h6
                      style="
                        font-size: 1.6rem;
                        font-family: 'Dancing Script', cursive;
                      "
                    >
                    {{ prato.nome }}
                    </h6>
                    <h6>
                      <span>{{ categoria.1 }}</span>
                    </h6>
                    <p>{{ prato.descricao }}</p>
                    <div style="
                    display: flex;
                    align-items: baseline;
                    justify-content: space-evenly;
                ">
                      <h6>R$ {{prato.preco}}</h6>
                      {% if prato.id in recomendados %}
                      <a class="btn btn-secondary" href="{% url "deletar_recomendacoes" id=prato.id %}"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="red" viewBox="0 -960 960 960" width="48"><path d="M200-450v-60h560v60H200Z"/></svg></a>
                      {% else %}
                      <a class="btn btn-secondary" href="{% url "adicionar_recomendacoes" id=prato.id %}"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="green" viewBox="0 -960 960 960" width="48"><path d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/></svg></a>
                      {% endif %}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
