<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Criar Pedido{% endblock %}

{% block content %}
<style>
    .form-container {
            background-color: white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 400px;
            margin: 0 auto;
        }
        
        .form-container h2 {
            color: red;
            text-align: center;
        }
        
        .form-container form {
            display: flex;
            flex-direction: column;
        }
        
        .form-container label {
            margin-bottom: 10px;
        }
        
        .form-container input[type="text"],
        .form-container input[type="email"],
        .form-container input[type="number"],
        .form-container input[type="password"],
        .form-container textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        
        .form-container input[type="submit"] {
            background-color: yellow;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .form-container input[type="submit"]:hover {
            background-color: gold;
        }
        
        .alert {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 22px 10px;
            font-family: interBold;
            font-size: 15px;
            color: black;
            background-color: gray;
            border-radius: 10px;
            border: 1px solid #90816A;
            animation-name: fade-in-out;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }
        
        .alert-close {
            float: right;
            cursor: pointer;
            margin-left: 10px;
            font-size: 15px;
            margin-top: -15px;
        }
    </style>
    
    <div class="form-container">
        <h2>Adicione um endereço</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Adicionar">
        </form>
    </div>
    
    {% endblock content %}