{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% comment %} <div class="kitchen-notifications">
  <h2>Notificações do Pedido</h2>
  <div class="notification" id="pedidoPratos">
      <p>Não há pedidos feitos no momemto.</p>
  </div>
</div> {% endcomment %}

<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <!-- <div>
        {% for evento in eventos %}
        <h2>{{ evento.nome }}</h2>
        <img src="{{ evento.foto.url }}" alt="">
        <p>{{ evento.descricao }}</p>
        {% endfor %} 
      </div> -->

      <h1 style="color:red;">CATEGORIAS</h1>
      <div class="container ">
        <div class="row">
          {% for categoria in Categorias %}
            <div class="card">
              <div class="card-body">
                <div class="login-wrap p-0">
                  <h3 class="text-center">Boas-vindas!</h3>
                  <p class="text-center mb-4"> Faça o login em sua conta</p>
                  <div class="image-container">
                    <img src="{% static 'img/' %}{{ categoria.0 }}.jpeg" alt="Descrição da imagem">
                  </div>
                  
                  
                </div>
              </div>
            </div>
          {% endfor %}


          <!-- {% for categoria in Categorias %}
            <div class="col-md-6">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'img/' %}{{ categoria.0 }}.jpeg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Prato Certo
                  </h5>
                  <h6>
                    <span>{{ categoria.1 }}</span>
                  </h6>
                  <a href="/pratos/categoria/{{ categoria.0 }}">
                    ver categoria 
                  </a>
                </div>
              </div>
            </div>
            {% endfor %} -->
        </div>
      </div>
    </div>
  </section>


  <script>
    function toggleDiv() {
        var notificationDiv = document.getElementById('notificationDiv');
        if (notificationDiv.style.display === 'none') {
            notificationDiv.style.display = 'block';
        } else {
            notificationDiv.style.display = 'none';
        }
    }
</script>

{% endblock %}
