<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    img {
        width: 200px;
        height: auto;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-container img {
        display: block;
    }

    .image-container p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-align: center;
        color: white;
    }

    /* Estilos adicionais específicos para a página home */
    .category-link {
        text-decoration: none;
        color: inherit;
    }
</style>
<div class="codigo-afiliado">
    <p>Código</p>
    <p>{{ cliente.codigo_afiliado }}</p>
    <p>{{ cliente.username }}</p>

</div>
<div>
    <p>pontos:</p>
    <p>{{ cliente.pontos }}</p>
</div>
<!-- Conteúdo da página -->
<a href="{% url "home_cozinha" %}">cozinha</a></br>
<a href="{% url "home_caixa" %}">caixa</a>

<div class="sidebar">
    <h2>Cardápio</h2>
    {% for categoria in Categorias %}
        <a href="/pratos/categoria/{{ categoria.0 }}" class="category-link">
            <div class="image-container">
                <img src="{% static 'img/' %}{{ categoria.0 }}.jpeg" alt="">
                <p>{{ categoria.1 }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
