<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Meus pedidos{% endblock %}

{% block content %}

<style>
    .nome {
        color: red;
    }
</style>

{% if pedidos %}
    {% for pedido in pedidos %}
        <div class="pedido">
            <div class="info">
                <div class="nome"><h2>{{ pedido.cliente.username }}</h2></div>
                <div class="data"><p>{{ pedido.data_pedido }}</p></div>
                <div class="data"><p>{{ pedido.status }}</p></div>
                <div class="data"><p>R$ {{ pedido.total }}</p></div>
                {% if has_garcom_role %}
                <div class="data"><p>{{ pedido.mesa }}</p></div>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endif %}

{% endblock %}