<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Lista de Pratos{% endblock %}

{% block content %}
<style>
    img {
        width: 200px;
        height: auto;
    }
</style>
    <h1>Lista de Pratos</h1>
    <h2>{{ Categoria }}</h2>
    {% for prato in pratos %}
        <div>
            <h2>{{ prato.nome }}</h2>
            {% if prato.disponivel %}
                <p>Disponível</p>
            {% else %}
                <p>Indisponível</p>
            {% endif %}
            {% if prato.foto %}
                {% if cliente.tipo_conta == "Cliente" %}
                    <a href="/pedidos/pedir/{{ prato.id }}"><img src="{{ prato.foto.url }}" alt="Imagem do Prato"></a>
                {% elif cliente.tipo_conta == "Garcom" %}
                    <a href="/garcons/home/fazer_pedido/{{ prato.id }}"><img src="{{ prato.foto.url }}" alt="Imagem do Prato"></a>
                {% endif %}
            {% endif %}
            <p>R$ {{prato.preco}}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}
