<!-- home.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Form{% endblock %}

{% block content %}
<style>
    .imagem-quadrada {
        width: 100%; /* Defina a largura desejada */
        height: auto; /* Defina a altura desejada */
        overflow: hidden; /* Para ocultar qualquer conteúdo que exceda as dimensões definidas */
    }
    
    .imagem-quadrada img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Para preencher a área mantendo a proporção */
    }

    input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000;
  border-radius: 5px;
  box-shadow: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder,
textarea::placeholder {
  color: #222222;
}

</style>
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">  
        <h2>Formulário</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="POST" class="form_container" action="" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="btn_box">
                <button type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<script>
  document.getElementById('upload').addEventListener('change', function(e) {
    var file = e.target.files[0];
    var reader = new FileReader();
  
    reader.onload = function(e) {
      var image = document.createElement('img');
      image.src = e.target.result;
      let image_div = document.getElementById('preview');
      image_div.innerHTML = '';
      image_div.appendChild(image);
    };
  
    reader.readAsDataURL(file);
  });
</script>

{% endblock content %}
